// Place all the styles related to the bid controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main_background {
  overflow: hidden;
  position: relative;
}

window {
  overflow: hidden;
}

body {
  overflow: hidden
}

/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: arial, sans-serif; color: #222; }
body { margin: 0; font-size: 62.5%; line-height: 1.4; background: url(/assets/page_bg.png); }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

p { margin: 0 0 1em; }
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* Styles */
#container {
	position: relative;
	width: 100%;
}

/* Main body */
#main {
	position: relative;
	width: auto;
	display: table;
	border-collapse: collapse;
	margin: 0 auto;
	box-shadow: 0 0 15px rgba(0,0,0,0.6);
}
	#hud {
		position: absolute;
		z-index: 100;
		display: table;
		border-collapse: collapse;
		width: 500px;
		left: 2em;
		background: #000;
		border-radius: 0 0 8px 8px;
	}
		#hud > div {
			display: table-cell;
			padding: .5em 0 .5em 1em;
			font-family: 'Oswald', sans-serif;
			color: #999;
			font-size: 2em;
		}
			#hud > div > p {
				margin: 0;
			}
			.color-yellow {
				color: #ffba00;
			}
	#bid-total {
		position: absolute;
		z-index: 100;
		width: 250px;
		font-size: 2em;
		padding: .3em;
		right: 2em;
		background: #1bad03;
		border-radius: 0 0 8px 8px;
		font-family: 'Oswald', sans-serif;
		margin: 0;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
		text-align: right;
		box-shadow: 0 0 10px #000;
	}
	
	.box-high-bid {
		border: 5px solid #1bad03;
		border-radius: 8px;
		box-shadow: 0 0 15px #000;
	}
	.box-bid {
		border: 5px dashed #f57621;
		border-radius: 8px;
		box-shadow: 0 0 15px #000;
	}
		
.text-oswald {
	font-family: 'Oswald', sans-serif;
}

.text-satisfy {
	font-family: 'Satisfy', cursive;
}

/* Modals */
#action h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 3.8em;
	font-weight: normal;
	color: #666;
	margin: .5em 0 .8em;
}

/* Buttons */		
.button {
	display: inline-block;
	border-radius: 4px;
	box-shadow: 1px 1px 0 #000;
}
	.button > a {
		display: block;
		padding: .3em .8em;
		color: #fff;
		text-decoration: none;
		font-family: 'Satisfy', cursive;
		font-size: 3.5em;
		text-shadow: 1px 1px 1px #000;
		box-shadow: inset 3px 3px 3px rgba(255,255,255,0.25);
		-moz-box-shadow: inset 3px 3px 3px rgba(255,255,255,0.25);
		-webkit-box-shadow: inset 3px 3px 3px rgba(255,255,255,0.25);
	}
	.green-button {
		background: #049c0f;
		border: 1px solid #017209;
	}
	.orange-button {
		background: #f57621;
		border: 1px solid #cb5506;
	}
		
.close-button-modal {
	width: 1em;
	height: 1em;
	padding: .1em .1em .2em;
	border-radius: 50%;
	background: #999;
	color: #fff !important;
	font-weight: bold;
	font-size: 1.4em;
	float: right;
	text-decoration: none;
	line-height: 1;
}

.hide {
	display: none;
}


/* Modal setup */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.modal {
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1050;
	width: 520px;
	margin: -250px 0 0 -280px;
	overflow: auto;
	padding: 1em 1em 2em;
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	*border: 1px solid #999;
	-webkit-border-radius: 6px;
	 -moz-border-radius: 6px;
		  border-radius: 6px;
	-webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.7);
	 -moz-box-shadow: 0 0 13px rgba(0, 0, 0, 0.7);
		  box-shadow: 0 0 13px rgba(0, 0, 0, 0.7);
	-webkit-background-clip: padding-box;
	 -moz-background-clip: padding-box;
		  background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
      -ms-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 50%;
}



@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
