:javascript
  $(function() {

    $document = $(document);

    $("#main_background")
      .width($document.width())
      .height($document.height());

    $('#main_background').bidCanvas({
      image: $('img#background_image').get(0)
    });
  });

#main_background
%img.hide#background_image{:src => @listing.image.url}

%script{:src => 'http://js.pusher.com/1.11/pusher.min.js', :type => 'text/javascript' }
