:javascript
  $(function() {

    $document = $(document);

    $("#main_background")
      .width($document.width())
      .height($document.height());

    $('#main_background').bidCanvas({
      image: $('img#background_image').get(0)
    });
  });

#main_background
%img.hide#background_image{:src => @listing.image.url}

%script{:src => '/assets/bid.js', :type => 'text/javascript'}
%script{:src => 'http://js.pusher.com/1.11/pusher.min.js', :type => 'text/javascript' }

/[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
#container{ :style => 'position:fixed;top:0;margin:0px;' }
  #main{:role => "main"}
    %header
      #hud
        %div
          %p
            Viewers:
            %span.color-yellow 23
        %div
          %p
            Time left:
            %span.color-yellow 2:36
        %div
          %p
            Location:
            %span.color-yellow Waltham, MA
      #bid-total
        Your total:
        %span.text-satisfy{:style => "font-size:1.4em;margin:0 .3em;"} $22.50
        %img{:alt => "", :src => "/assets/user-image.jpg"}/
#action.modal.hide
  %a.close-button-modal{"data-dismiss" => "modal", :href => "#"} x
  %h2 Checkout

:javascript
  window.jQuery || document.write('<\/script>')
  window.listing = #{@listing.id}
