<!doctype html>
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %script{:src => '/assets/application.js', :type => 'text/javascript' }
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title Minutes to Win It
    %meta{:content => "Buy or sell anything in minutes!", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %link{:href => "/assets/application.css", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=Oswald", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Satisfy", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/styles-sale.css", :rel => "stylesheet"}

  %body
    = yield
